include examples/prime_finder.py
include examples/monte_pi.py
include examples/null_test.py
include examples/string_counter.py
include examples/worker_sim.py
include README
include COPYING
include pymw/interfaces/pymw_*
#include pymw/interfaces/pywm_run.exe
